@import "variables.module";

.bg-light-purple {
  background-color: $light-purple;
}
.text-dark-purple {
  color: $dark-purple;
}
.text-light-gray {
  color: $light-gray;
}
.fs-7 {
  font-size: 14px;
}